<ion-view view-title="{{$root.Dict.ABOUT_TITLE}}">
  <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
  <ion-content class="about" scroll="true">
  	  <h1>Pet Planet Veterinaria</h1>

				<img src="img/pet.png" class="pet"/><br /><br />
		  <p>En Pet Planet encontraras un mundo para tu mascota.</p>
<p>Contamos con mutualismo, atención en consultorio y domicilio, urgencias las 24hs, ecografías, rayos X, electros, consulta con especialistas, cirugías, baños, esquilas, cortes de raza y cortes sanitarios.<br />
		  .</p>	 
      <h3>PET PLANET UN MUNDO PARA TU MASCOTA!!</h3><br />
	  <p>Raciones de todo tipo y todos los accesorios que te puedas imaginar..</p>
		
	  
	 
	 
	  

	</ion-content>
</ion-view>

