<ion-view title="Publicar Máquinas">
	   <ion-content class="about" scroll="false">
  	<div class="hero">
        <div class="content no-header">
            <span class="logo"></span>
        </div>
    </div>
         <a ng-href="http://industriasmecanicasgreco.com/mobile/app/mi-cuenta{{user._id}}" onclick="window.open(this.href, '_system', 'location=yes')" class="ion-person-add color-primary item">  Acceder o Registrarse</a><br  />
	
		 <a ng-href="http://industriasmecanicasgreco.com/mobile/app" onclick="window.open(this.href, '_system', 'location=yes')" class="ion-gear-b color-primary item">  Administrador de Máquinas</a>
		   
	
        
    </ion-content>
</ion-view>